# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.ipynb_checkpoints/

# Data files (большие CSV не коммитим)
data/*.csv
data/*.json
!data/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
